body{
	background-color: #000;
	color: #fff;
}
.headerClass : hover{
	color: lightgreen;
	font-size: 40px;
}
/*class for footer*/
.footer{
	color: lightgreen;
	font-size: 40px;
}
/*this is a 
multiple 
line comment*/
div{
	background-color: purple;
}

.headerClass{
	color: lightgreen;
	font-size: 40px;
}